@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    /* Neutral Colors */
    --neutral-100: #1A1A1A;
    --neutral-90: #424242;
    --neutral-80: #616161;
    --neutral-70: #757575;
    --neutral-60: #9E9E9E;
    --neutral-50: #C2C2C2;
    --neutral-40: #E0E0E0;
    --neutral-30: #EDEDED;
    --neutral-20: #F5F5F5;
    --neutral-10: #FFFFFF;

    /* Primary Colors */
    --primary-pressed: #220F80;
    --primary-hover: #3B25A8;
    --primary-main: #482BD9;
    --primary-border: #B6ABED;
    --primary-focus: #DBD0FF;
    --primary-bg-color: #F6F4FF;

    /* Success Colors */
    --success-pressed: #044407;
    --success-hover: #005803;
    --success-main: #007505;
    --success-border: #A2C1A3;
    --success-focus: #C5E1C6;
    --success-bg-color: #EBF8EC;

    /* Warning Colors */
    --warning-pressed: #726000;
    --warning-hover: #BFA100;
    --warning-main: #E5C100;
    --warning-border: #F4E386;
    --warning-focus: #FFF4B9;
    --warning-bg-color: #FAF7E6;

    /* Danger Colors */
    --danger-pressed: #590000;
    --danger-hover: #940000;
    --danger-main: #B20000;
    --danger-border: #E5AAAA;
    --danger-focus: #F9D9D9;
    --danger-bg-color: #FBEFEF;

    /* Info Colors */
    --info-pressed: #002B52;
    --info-hover: #004889;
    --info-main: #0065C1;
    --info-border: #AAC7E1;
    --info-focus: #D9E8F4;
    --info-bg-color: #F0F8FF;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 2rem;
    background: var(--neutral-20);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    overflow-y: scroll;
}

/* Resultados */
.container .table{
    /* height: 85vh; */
    border-radius: 25px;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.1));
}

.table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    
}

.table thead{
    background-color: var(--neutral-50);
    color: #000;
}

.table thead tr th{
    padding: 10px;
    text-align: left;
}
.table tbody{
    background-color: var(--neutral-10);
}

.table tbody tr:nth-child(2n+1){
    background-color: var(--neutral-20);
}

.table tbody tr:nth-child(2n){
    background-color: var(--neutral-40)
}
.table tbody tr:hover {
    border-bottom: 1px var(--neutral-100) solid;
    border-top: 1px var(--neutral-100) solid;
}
.table tbody tr td{
    font-family: "Inter", sans-serif;
    text-align: left;
    padding: 10px;
}

/* .wrap::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color-gray-300);
    border-radius: 20px;
    }
   .wrap::-webkit-scrollbar:window-inactive {
    display: none;
    }
   .wrap::-webkit-scrollbar-thumb  {
    background-color: var(--color-gray-400);
    border-radius: 6px;
   
    } */

.validar {
    display: inline-flex;
    background-color: var(--color-primary-main);
    border: 3px var(--color-primary-focus) solid;
    padding: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-gray-100);
    transition: 0.5s ease;
}
.validar:hover {
    background-color: var(--color-primary-pressed);
    transition: 0.5s ease;
}


  .pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid var(--primary-main);
    color: var(--primary-main);
    border-radius: 4px;
    border: none;
    background-color: var(--primary-bg-color);
  }
  
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .pagination button.active {
    background-color: var(--primary-main);
    color: white;
  }

.oculto {
    display: none;
}

.wrap-index {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 2rem;
    background: var(--color-primary-secondary);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.wrap-index #registro_requerimiento .cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-index #registro_requerimiento .cabecera .logo{
    width: 10%;
}

.wrap-index #registro_requerimiento .cabecera .logo img {
    width: 100%;
}


.select select{
    width: 100%;
    appearance: none;
    background-color: #FFFFFF;
    border: 1px solid var(--neutral-40);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--neutral-70);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.select select:focus {
    outline: none;
    border-color: #5A3FE1; /* Color de borde al hacer clic */
  }
  .select {
    position: relative;
    width: 200px;
  }
  .select svg{
    width: 20px;
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    fill: var(--neutral-70);
  }

  .select select::-webkit-scrollbar {
    width: 8px; /* Ancho del scroll */
}

.select select::-webkit-scrollbar-track {
    background: var(--neutral-50); /* Fondo del track del scroll */
    border-radius: 10px;
}

.select select::-webkit-scrollbar-thumb {
/*     background-color: #6a0dad; */
    border-radius: 10px;
    border: 2px solid #f0f0f0; 
}

.select select::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-30); /* Color del pulgar al pasar el mouse */
}
#centroCostos option:hover {
    background-color: green; /* Cambia el color según tu preferencia */
}
.datos_solicitante, 
.nomb_solicitante,
.cont_solicitante,
.areas_relacionadas {
    display: flex;
    justify-content: space-between;
}
.datos_solicitante div,
.nomb_solicitante div,
.cont_solicitante div,
.areas_relacionadas div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}
.datos_solicitante div .select{
    height: 40px;
}
.mayusculas {
    text-transform: uppercase;
}
.objetivos_requerimientos {
    width: 100%;
}
.textarea {
    width: 100%;
}
.procedimientos_formatos_relacionados {
    width: 100%;
}
.titulocuerpo {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: var(--color-primary-main);
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

#usuario {
    outline: 0;
}
.notFound {
    border-color: red;
}

.selected {
    background-color: var(--primary-focus) !important; /* Color para las filas seleccionadas */
}

.cantidad {
    width: 100%;
    height: 35px;
    border: 0;
    outline: 0;
}

#data_form tbody tr:nth-child(2n+1) .cantidad {
    background-color: var(--color-gray-100); /* hereda el color de fondo de la fila impar */
}

#data_form tbody tr:nth-child(2n) .cantidad {
    background-color: var(--color-gray-200); /* hereda el color de fondo de la fila par */
}

#data_form tbody tr td:nth-child(4){
    padding: 0;
}

.container-btns{
    display: flex;
    justify-content: end;
    gap: 15px;
    margin: 1rem 0;
}

.btn {
    background-color: none;
    border: 0;
    cursor: pointer;
    background-color: var(--primary-main);
    /* border: 3px var(--primary-focus) solid; */
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    color: var(--neutral-10);
    transition: 0.5s ease;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn svg {
    width: 20px; /* Ajusta el ancho del SVG */
    height: 20px; /* Ajusta la altura del SVG */
    fill: var(--neutral-10); /* Color del ícono, puede cambiarse según sea necesario */
}

.btn:hover {
    background-color: var(--primary-bg-color);
    /* border: 3px var(--primary-focus) solid; */
    color: var(--primary-main);
    transition: 0.5s ease;
}

.btn:hover svg {
    fill: var(--primary-main);
}
/* .icon-plus-solid {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url(../icons/plus-solid.svg);
    background-repeat: no-repeat;
    color: var(--color-gray-100);
} */

.container-actions-modal {
    display: flex;
    gap: 15px;
    margin: 1rem 0;
}

.inputText {
    width: 100%;
    height: 32px;
    outline: none;
    border-radius: 3px;
    border: 1px var(--primary-hover) solid;
    background-color: var(--neutral-10);
    padding: 12px 6px;
}

.container-attributes {
    display: flex;
    gap: 1.5rem;
}

.container-attributes div {
    width: 100%;
}


/* Container for the custom select */
.custom-select-container {
    width: 300px;
    margin: 50px auto;
    position: relative;
    font-family: Arial, sans-serif;
}

/* The select placeholder */
.custom-select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Placeholder text */
.select-placeholder {
    color: #666;
}

/* Options container (hidden by default) */
.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

/* Option items */
.option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover and selected styles */
.option:hover {
    background-color: #f0f0f0;
}

.option.selected {
    background-color: #e0e0ff;
    color: #4a4aff;
}